@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700| https://fonts.googleapis.com/css?family=Raleway |https://fonts.googleapis.com/css?family=Open+Sans';
@import '';


html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
/****************GROUPED CSS*****************************/

.titles {
  padding: 0 0 40px 0;
}

h3 {
  padding: 0 0 10px 0;
}

.sections {
  padding: 20px 0;
}

h1 {
  font-size: 2em;
}
/******************** NAVBAR***************************/

 nav ul {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: #000;
  font-family: "comfortaa",sans-serif; 
  font-size: 1.5em; 
  box-shadow: 25px 3px 30px #898989;
    -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li {
  display: inline-block;
  padding: 40px; 
}

nav ul li a {
  color: #fff;
  text-decoration: none; 
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #bf0000;
}

/******************** CV INTRO ***************************/
.CV_header {
  line-height: 1.9;
  background: #F5F5F5;
  padding: 150px 110px 50px 110px;
  background-color: #ababab; 
}

.CV_header h1 {
  font-size: 3em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cv_intro {
  padding: 45px 100px;
}

/******************** SKILLS ***************************/
.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #c9c9c9;
  padding: 110px 110px 60px 110px;
}

.skills h1 {
  padding: 0  0 30px  0;
}
.skills ul li {
  list-style: none;
  line-height: 1.9;
}

/******************** WORK ***************************/

.work {
  padding: 50px 0 60px 0;
  background-color: #dcdcdc;
  line-height: 1.6;
}

/******************** SCHOOL ***************************/

.school {
  padding: 50px 0 60px 0;
  background-color: #efefef;
  line-height: 1.6;
}

.unbold {
  font-weight: normal;
}


/****************************CONTACT************************************/

.contact {
  background-color: #fff;
  padding:  10px 0; ;
  line-height: 1.6;
}

.contact-details {
  padding: 20px 60px 0 60px;
  display: inline-block;
}

img {
  height: 40px;
}

@media (max-width: 800px) {
  nav ul {
    text-align: center;
    font-size: 1em; 
  }
  
  nav ul li {
    padding: 10px;
  }
  
  .CV_header {
  line-height: 1.7;
  background: #F5F5F5;
  padding: 100px 0 50px 0;
  background-color: #ababab; 
}
  
 .CV_header h1 {
  font-size: 2em;
}
}

